name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  actions: write
  checks: write
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js and PNPM
        uses: ./.github/actions/install

      - name: Build Svelte app
        run: |
          pnpm build
        env:
          GITHUB_PAGES: true

      - name: Push to GitHub
        uses: EndBug/add-and-commit@v9
        with:
          add: 'docs'
          default_author: github_actions
          message: 'docs: deploy to GitHub Pages'
